html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: map-get($colors, light);
    color: map-get($colors, dark);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

strong, b {
    font-weight: map-get($font-weight, medium);
}

p {
    line-height: 20px;
}
