html {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 18px;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: map-get($colors, light);
    color: map-get($colors, dark);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}
