.content {
    height: 100vh;
    display: flex;
    align-items: center;

    &__introduction {
        flex-basis: 40%;
    }

    &__page {
        position: relative;
        flex-basis: 60%;
        height: 100vh;
    }
}
