.content {
    height: 100vh;
    display: flex;
    align-items: center;

    &__introduction {
        // max-width: 455px;

        // &-inner {
        //     max-width: 350px;
        // }
    }
}
