.header {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding-left: inherit;
    padding-right: inherit;
    z-index: map-get($z-index, header);

    &__brand {
        margin-right: 45px;
        font-weight: map-get($font-weight, medium);
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 12px;
    }

    &__navigation {
        margin-left: auto;

        &-item {
            display: inline-block;
            margin-left: 45px;
        }

        &-link {
            text-transform: uppercase;
            font-size: 10px;
            display: inline-block;
            letter-spacing: 1px;

            &.action {
                background-color: map-get($colors, primary);
                color: map-get($colors, light);
                padding: 30px 14px 20px 14px;
            }
        }
    }
}
