.social-midia {
    position: absolute;
    bottom: 40px;
    z-index: map-get($z-index, social-midia);

    &__item {
        display: inline-block;
        margin-right: 45px;
    }

    &__link {
        font-size: 12px;
        text-transform: lowercase;
        display: inline-block;
    }

    @media screen and (max-width: 768px) {
        position: static;
        margin: 40px 0;
    }
}
