body.portfolio {

    @media screen and (min-width: 768px) and (max-width: 1140px) {
        .content__introduction {
            flex-basis: 30%
        }
        .content__page {
            flex-basis: 70%
        }
    }

    .portfolio-slider {
        margin-top: -15vh;
        margin-bottom: -15vh;

        &__item {
            margin: 30px 0;
            display: flex;
            align-items: center;
            height: 40vh;
            transition: all 100ms;

            &.visible {
                opacity: 1;

                .portfolio-slider__item-box {
                    pointer-events: initial;
                }

                .portfolio-slider__image {
                    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.5);
                }
            }

            @media screen and (min-width: 768px) {
                opacity: .2;
            }
        }

        &__image {
            width: 100%;
            max-width: 450px;
            max-height: 100%;
            box-shadow: none;
            margin: 0 10px;
        }

        &__item-box {
            padding: 0 50px;
            pointer-events: none;

            .title {
                font-weight: map-get($font-weight, medium);
                text-transform: uppercase;
                font-size: 12px;
                letter-spacing: 1px;
            }

            .info {
                font-size: 12px;
                line-height: 18px;
                margin: 5px 0 10px 0;
            }

            .link {
                background: url('/assets/images/icon-see.svg') no-repeat center;
                background-size: cover;
                width: 20px;
                height: 20px;
                display: inline-block;
            }
        }

        @media screen and (max-width: 768px) {
            margin: 0;

            .content {
                display: block;
            }

            &__item {
                height: 40vh;
                flex-direction: column;
                height: auto;
                text-align: center;
            }

            &__image {
                width: 90%;
                margin: 0;
            }

            &__item-box {
                padding: 0;
                width: 90%;
                margin: 0 auto;

                .info {
                    text-align: left;
                    font-size: 10px;
                    line-height: 14px;
                }
            }
        }
    }

    // override tns
    .tns-controls {
        position: absolute;
        height: 100vh;
        top: 0;
        left: -50px;
        z-index: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        outline: none;

        button[data-controls="prev"],
        button[data-controls="next"] {
            display: inline-block;
            width: 50px;
            height: 20px;
            font-size: 0;
            border: 0;
            padding: 0;
            outline: none;
            background: url('/assets/images/icon-arrow.svg') no-repeat center;
            background-size: 36px 8px;
        }

        button[data-controls="prev"] {
            transform: rotate(-90deg);
            margin-bottom: 50px;
            margin-left: -1px;
        }

        button[data-controls="next"] {
            transform: rotate(90deg);
        }
    }

}
