<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
</head>
<body>
    <div class="wrapper">

        <header class="header">
            <a href="index.html" class="header__brand">Psicode</a>
            <span class="header__toggle">toggle</span>

            <nav class="header__navigation">
                <ul>
                    <li class="header__navigation-item">
                        <a href="servicos.html" class="header__navigation-link">Serviços</a>
                    </li>
                    <li class="header__navigation-item">
                        <a href="portfolio.html" class="header__navigation-link">Portfolio</a>
                    </li>
                    <li class="header__navigation-item">
                        <a href="orcamento.html" class="header__navigation-link action">Orçamento</a>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="content">
            <div class="content__introduction">
                <p class="content__introduction-inner">
                    <strong>Somos um pequeno time de desenvolvedores e designers.</strong> </br>Pensamos em sites progressivos para ajudar seu negócio alcançar seu potencial. Somos profissionais e criativos, e nos focamos em um projeto de cada vez, nos certificando de que nosso trabalho seja de melhor qualidade.
                </p>
            </div>
            <div class="content__page">
                <img src="assets/images/psicode-logo.svg" alt="Psicode">
            </div>
        </div>

        <nav class="social-midia">
            <ul>
                <li class="social-midia__item">
                    <a href="#" target="_blank" class="social-midia__link">Facebook</a>
                </li>
                <li class="social-midia__item">
                    <a href="#" target="_blank" class="social-midia__link">Instagram</a>
                </li>
                <li class="social-midia__item">
                    <a href="#" target="_blank" class="social-midia__link">Github</a>
                </li>
            </ul>
        </nav>

    </div>
</body>
</html>
