<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/tiny-slider.css">
<!--[if (lt IE 9)]><script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/min/tiny-slider.helper.ie8.js"></script><![endif]-->
</head>
<body class="portfolio">
    <div class="wrapper">

        <header class="header">
            <a href="index.html" class="header__brand">Psicode</a>
            <span class="header__toggle">toggle</span>

            <nav class="header__navigation">
                <ul>
                    <li class="header__navigation-item">
                        <a href="servicos.html" class="header__navigation-link">Serviços</a>
                    </li>
                    <li class="header__navigation-item">
                        <a href="portfolio.html" class="header__navigation-link">Portfolio</a>
                    </li>
                    <li class="header__navigation-item">
                        <a href="orcamento.html" class="header__navigation-link action">Orçamento</a>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="content">
            <div class="content__introduction">
                <img class="brand" src="assets/images/psicode-logo.svg" alt="Psicode">
            </div>
            <div class="content__page">

                <div class="portfolio-slider">
                    <!-- ideal size of images 450x300px -->
                    <div class="portfolio-slider__item">
                        <img class="portfolio-slider__image" src="https://us.123rf.com/450wm/zeferli/zeferli1804/zeferli180400386/99530117-old-house-with-a-ghost-in-the-forest-at-night-or-abandoned-haunted-horror-house-in-fog-old-mystic-bu.jpg?ver=6" alt="">
                        <div class="portfolio-slider__item-box">
                            <h2 class="title">Lorem ipsum</h2>
                            <p class="info">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur.</p>
                            <a href="https://www.behance.net/psicode" class="link" target="_blank"></a>
                        </div>
                    </div>

                    <div class="portfolio-slider__item">
                        <img class="portfolio-slider__image" src="https://us.123rf.com/450wm/zeferli/zeferli1802/zeferli180200795/96522775-silhouette-of-scary-halloween-tree-with-horror-face-on-dark-foggy-toned-background-with-moon-on-back.jpg?ver=6" alt="">
                        <div class="portfolio-slider__item-box">
                            <h2 class="title">Lorem ipsum</h2>
                            <p class="info">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur.</p>
                            <a href="https://www.behance.net/psicode" class="link" target="_blank"></a>
                        </div>
                    </div>

                    <div class="portfolio-slider__item">
                        <img class="portfolio-slider__image" src="https://cdn2.hercampus.com/styles/hcxo_tile_standard/s3/hero-images/2018/10/21/Harleigh%20cover.png?timestamp=1540176879" alt="">
                        <div class="portfolio-slider__item-box">
                            <h2 class="title">Lorem ipsum</h2>
                            <p class="info">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur.</p>
                            <a href="https://www.behance.net/psicode" class="link" target="_blank"></a>
                        </div>
                    </div>

                    <div class="portfolio-slider__item">
                        <img class="portfolio-slider__image" src="https://us.123rf.com/450wm/lario76/lario761511/lario76151100010/49187518-abandoned-horror-house-in-the-misty-forest.jpg?ver=6" alt="">
                        <div class="portfolio-slider__item-box">
                            <h2 class="title">Lorem ipsum</h2>
                            <p class="info">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur.</p>
                            <a href="https://www.behance.net/psicode" class="link" target="_blank"></a>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <nav class="social-midia">
            <ul>
                <li class="social-midia__item">
                    <a href="#" target="_blank" class="social-midia__link">Facebook</a>
                </li>
                <li class="social-midia__item">
                    <a href="#" target="_blank" class="social-midia__link">Instagram</a>
                </li>
                <li class="social-midia__item">
                    <a href="#" target="_blank" class="social-midia__link">Github</a>
                </li>
            </ul>
        </nav>

    </div>
</body>
</html>
