<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
</head>
<body class="servicos">
    <div class="wrapper">

        <header class="header">
            <a href="index.html" class="header__brand">Psicode</a>
            <span class="header__toggle">toggle</span>

            <nav class="header__navigation">
                <ul>
                    <li class="header__navigation-item">
                        <a href="servicos.html" class="header__navigation-link">Serviços</a>
                    </li>
                    <li class="header__navigation-item">
                        <a href="portfolio.html" class="header__navigation-link">Portfolio</a>
                    </li>
                    <li class="header__navigation-item">
                        <a href="orcamento.html" class="header__navigation-link action">Orçamento</a>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="content">
            <div class="content__introduction">

                <img class="brand" src="assets/images/psicode-logo.svg" alt="Psicode">

            </div>
            <div class="content__page">

                <div class="features">
                    <div class="features__item">
                        <h2 class="features__title">Sites</h2>
                        <p>Temos experiência em desenvolver sites, desde institucionais até formulários, portfolios, blogs.</p>
                    </div>

                    <div class="features__item">
                        <h2 class="features__title">Sistemas internos</h2>
                        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur.</p>
                    </div>

                    <div class="features__item">
                        <h2 class="features__title">Identidades visuais</h2>
                        <p>Pensamos na sua marca e no universo visual que a acompanha em todos os ambientes e seus desdobramentos.</p>
                    </div>

                    <div class="features__item">
                        <h2 class="features__title">Web designs</h2>
                        <p>Criamos layouts a partir de usabilidade e experência do usuário, valorizando um conceito visual.</p>
                    </div>

                    <div class="features__item">
                        <h2 class="features__title">Impressos</h2>
                        <p>De cartões de visita a papelarias institucionais, diagramamos livros, livretos, folders, e outros.</p>
                    </div>

                    <div class="features__item">
                        <h2 class="features__title">Apresentações digitais</h2>
                        <p>Diagramamos apresentações em diversos formatos, .pptx, .key e .pdf, para mídias digitais.</p>
                    </div>
                </div>

            </div>
        </div>

        <nav class="social-midia">
            <ul>
                <li class="social-midia__item">
                    <a href="#" target="_blank" class="social-midia__link">Facebook</a>
                </li>
                <li class="social-midia__item">
                    <a href="#" target="_blank" class="social-midia__link">Instagram</a>
                </li>
                <li class="social-midia__item">
                    <a href="#" target="_blank" class="social-midia__link">Github</a>
                </li>
            </ul>
        </nav>

    </div>
</body>
</html>
